@model IEnumerable<ProjetoFinalVinicius.Models.Cidade>

@{
    ViewData["Title"] = "Cidade";
}

<h1>CIDADE</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.EstadoNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CidadeId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CidadeId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CidadeId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
