@model IEnumerable<ProjetoFinalVinicius.Models.Colaborador>

@{
    ViewData["Title"] = "colaborador";
}

<h1>colaborador</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoColaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.NomeCidade)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoColaborador.TipoColaboradorNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ColaboradorId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ColaboradorId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ColaboradorId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
