@model IEnumerable<ProjetoFinalVinicius.Models.Cliente>

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteSexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteTelefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteEndereço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteSexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteTelefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteEndereço)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNumero)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cidade.NomeCidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
