@model IEnumerable<ProjetoFinalVinicius.Models.ProcedimentoRealizado>

@{
    ViewData["Title"] = "Index";
}

<h1>procedimento realizado</h1>

<p>
    <a asp-action="Create">criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colaborador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalRealizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataRealizadoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoRealizadoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ClienteNome)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Procedimento.ProcedimentoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colaborador.ColaboradorNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalRealizacao.LocalRealizacaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRealizadoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoRealizadoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcedimentoRealizadoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProcedimentoRealizadoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcedimentoRealizadoId">Deletar</a>
                    <a asp-action="Imprimir" asp-route-id="@item.ProcedimentoRealizadoId" target="_blank">Imprimir</a>
            </td>
        </tr>
}
    </tbody>
</table>
